amqp==5.4.1
annotated-doc==0.0.5
annotated-types==0.8.0
certifi==2026.7.22
charset-normalizer==3.5.2
data-courier @ git+https://github.com/CIRA-GEOIPS/courier.git@01ee88aad74fc9319e891483e7fcc5c3f927517e
googleapis-common-protos==1.75.5
idna==3.20
jinja2==3.1.6
kombu==5.6.2
lexeme-type==1.1.0
loguru==0.7.3
markdown-it-py==4.2.0
markupsafe==3.0.4
mdurl==0.1.2
numpy==2.5.3
opentelemetry-api==1.45.1
opentelemetry-exporter-http-transport==0.66b1
opentelemetry-exporter-otlp-common==0.66b1
opentelemetry-exporter-otlp-proto-common==1.45.1
opentelemetry-exporter-otlp-proto-http==1.45.1
opentelemetry-proto==1.45.1
opentelemetry-sdk==1.45.1
opentelemetry-semantic-conventions==0.66b1
packaging==26.3
pillow==12.3.0
prometheus-client==0.26.0
protobuf==7.36.2
pydantic==2.13.5
pydantic-core==2.46.5
pygments==2.21.0
python-logging-loki==0.3.1
pyyaml==6.0.3
requests==2.34.2
rfc3339==6.2
rich==15.0.0
shellingham==1.5.4
typer==0.27.3
typing-extensions==4.16.0
typing-inspection==0.4.4
tzdata==2026.5
urllib3==2.8.0
vine==5.1.0
watchdog==6.0.0
